  /* fonts  */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');

  /* common style  */
  body{
    font-family: 'Poppins', sans-serif;
  }

   /* banner styles  */
.banner-section{
    background-color:#2D25A0;
   width: 100%;
    height: 850px;
}
.banner-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.banner-text{
    color:#FFFFFF;
    font-size: 64px;
    width: 550px; 
}
.banner-image{
   git   
}
 .banner-image img{
     width: 450px;
     height: 450px;
     padding: 10px;
     margin-left: 30px;
}
.live-link{
    background-color: #E02C6D;  
    width:310px ;
    font-size: 46px;
    padding: 10px 25px;
    position: relative;
    bottom: 40px;  
}
.live-link a{
    text-decoration: none; 
    color: #FFFFFF;
    font-weight: 500;
}
.live-link a .fas{
    margin-left: 15px;
}

.live-link:hover{
    background-color: #2D25A0;
    font-size: 64px;
    transform: rotate(-5deg);
    display: inline;
     
}

/*-------------------------------------------------
                 banner style end 
------------------------------------------------------*/


    
   /*----- -----------------------------------------------------------------------------
                           all players style start 
----------------------------------------------------------------------------------*/
                         /* first section  */


.section-players{
    width: 1100px;
    position: relative;
    left: 770px;
    margin-top: 40px; 
    justify-content: center;  
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    
    
    
}
.player{
    width: 330px;
    margin: 20px;
    padding: 5px;
   background-color: #FFFFFF;
   box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.15);
}
.section-players .player img{
    width: 315px;
    height: 370px;   
}


.border:hover{
    
    border: 5px solid lightblue;
    
}
                             /* -------------------------first section end ---------- */

                             /* Footer style start  */
 .footer-container{
    margin-top: 80px;
    width: 420px;
    position: relative;
    left: 850px;
 }                            
.footer-icon{
    display: flex;
    font-size: 40px;
    margin-left: 20px;
    position: relative;
    left: 245px;
}
.icon{    
    margin-left: 25px;
    padding: 5px 5px 5px 5px ;
    
}
.footer-info{
    font-size: 30px;
    position: relative;
    left: 250px;
}

          /*--------------------------------------------------
                          media  queries 
          -------------------------------------------------------- */


          /*---------------------------------------------------------------
                       Mobile Devices
        -------------------------------------------------------------- */
@media only screen and (max-width:880px) {
     
    .banner-section{
        background-color: red;
      
    }
    .player{

        display: block;
    }
}       
